div.navbar.navbar-default(role="navigation")
	div.container
		div.navbar-header
			a.navbar-brand(href="") Sonbn
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		div#navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#personality_profile" data-toggle="tab") PERSONALITY
				li
					a(href="#study_profile" data-toggle="tab") STUDY PROFILE
				li
					a(href="#work_profile" data-toggle="tab") WORK PROFILE
				li
					a(href="#contact_information" data-toggle="tab") LINKS
				li
					a(href="#playground" data-toggle="tab") PLAYGROUND
